<section class="section gallery-section">
  <h2 class="visually-hidden">Film gallery</h2>
  <div class="gallery-categories">
    <button class="gallery-categories__btn">Trending</button>
    <button class="gallery-categories__btn">Popular</button>
    <button class="gallery-categories__btn">Top rated</button>
    <button class="gallery-categories__btn">Upcoming</button>
  </div>
  <div class="container gallery-container">
    <p class="gallery-info"></p>
    <ul class="gallery"></ul>
  </div>
</section>
