<header class="header home" id="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="header__logo_link hvr-icon-pulse-grow">
        <svg class="header__logo_icon hvr-icon" width="24" height="24">
          <use href="images/sprite.svg#icon-headerLogo"></use>
        </svg>
        <p class="header__logo_title">Filmoteka</p>
      </a>
      <button class="theme" type="button" role="switch" aria-label="light/dark theme">
        <svg class="theme__svg" width="32" height="32">
          <use class="theme__choice" data-theme="light" href="./images/sprite.svg#icon-light"></use>
          <use class="theme__choice" data-theme="dark" href="./images/sprite.svg#icon-dark"></use>
        </svg>
      </button>
      <nav class="navigation">
        <a href="#" data-a="home" class="navigation__link hvr-underline-reveal current">Home</a>
        <a href="#" data-a="myLibrary" class="navigation__link hvr-underline-reveal">My library</a>
      </nav>
    </div>
    <form class="search__form">
      <div class="search__form_wrap header-form">
        <input type="text" class="search__input" name="search" placeholder="Search movies" />
        <button class="search__btn" type="submit">
          <svg class="search__icon" width="12" height="12">
            <use href="images/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <span class="search__form_strip"> </span>
      </div>
    </form>
    <div class="buttons__container buttons__container--header visually-hidden">
      <button type="button" data-btn="watched" class="btn--on btn--header">WATCHED</button>
      <button type="button" data-btn="queue" class="btn--off btn--header">queue</button>
    </div>
  </div>
</header>
