<div class="backdrop is-hidden" data-modal="team">
  <div class="team modal">
    <ul class="team__list">
      <li class="team__card">
        <img
          class="team__img"
          src="./images/team/evgeny.jpg"
          alt="Yevhen Malyshko"
          width="240"
        />
        <p class="team__title">Yevhen Malyshko</p>
        <p class="team__text">Team Lead</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/team/hanna.jpg"
          alt="Hanna Vasylenko"
          width="240"
        />
        <p class="team__title">Hanna Vasylenko</p>
        <p class="team__text">Scrum Master</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/team/anastasia.jpg"
          alt="Anastasiia Manoilo"
          width="240"
        />
        <p class="team__title">Anastasiia Manoilo</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/team/andrey.jpg"
          alt="Andrey Pochapskiy"
          width="240"
        />
        <p class="team__title">Andrey Pochapskiy</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/team/victor.jpg"
          alt="Viktor Neimeti"
          width="240"
        />
        <p class="team__title">Victor Neimeti</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/team/valentine.jpg"
          alt="Valentine Prokopenko"
          width="240"
        />
        <p class="team__title">Valentine Prokopenko</p>
        <p class="team__text">Developer</p>
      </li>
    </ul>
    <button class="modal-close" type="button" data-modal-close="team">
      <svg class="modal__icon--close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
