<div class="backdrop is-hidden" data-modal="team">
  <div class="team modal">
    <ul class="team__list">
      <li class="team__card">
        <picture>
          <source srcset="./images/team/evgeny-1x.jpg 1x, ./images/team/evgeny-2x.jpg 2x" />
          <source srcset="./images/team/evgeny-1x.webp 1x, ./images/team/evgeny-2x.webp 2x" />
          <img
            class="team__img"
            src="./images/team/evgeny-2x.jpg"
            alt="Yevhen Malyshko"
            width="240"
          />
        </picture>

        <p class="team__title">Yevhen Malyshko</p>
        <p class="team__text">Team Lead</p>
      </li>
      <li class="team__card">
        <picture>
          <source srcset="./images/team/anna-1x.jpg 1x, ./images/team/anna-2x.jpg 2x" />
          <source srcset="./images/team/anna-1x.webp 1x, ./images/team/anna-2x.webp 2x" />
          <img
            class="team__img"
            src="./images/team/anna-2x.jpg"
            alt="Hanna Vasylenko"
            width="240"
          />
        </picture>
        <p class="team__title">Hanna Vasylenko</p>
        <p class="team__text">Scrum Master</p>
      </li>
      <li class="team__card">
        <picture>
          <source srcset="./images/team/nastya-1x.jpg 1x, ./images/team/nastya-2x.jpg 2x" />
          <source srcset="./images/team/nastya-1x.webp 1x, ./images/team/nastya-2x.webp 2x">
          <img
            class="team__img"
            src="./images/team/nastya-2x.jpg"
            alt="Anastasiia Manoilo"
            width="240"
          />
        </picture>

        <p class="team__title">Anastasiia Manoilo</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <picture>
          <source srcset="./images/team/andrey-1x.jpg 1x, ./images/team/andrey-2x.jpg 2x" />
          <source srcset="./images/team/andrey-1x.webp 1x, ./images/team/andrey-2x.webp 2x" />
          <img
            class="team__img"
            src="./images/team/andrey-2x.jpg"
            alt="Andrey Pochapskiy"
            width="240"
          />
        </picture>
        <p class="team__title">Andrey Pochapskiy</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <picture>
          <source srcset="./images/team/vitya-1x.jpg 1x, ./images/team/vitya-2x.jpg 2x" />
          <source srcset="./images/team/vitya-1x.webp 1x, ./images/team/vitya-2x.webp 2x" />
          <img
            class="team__img"
            src="./images/team/vitya-2x.jpg"
            alt="Viktor Neimeti"
            width="240"
          />
        </picture>
        <p class="team__title">Victor Neimeti</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <picture>
          <source srcset="./images/team/valentine-1x.jpg 1x, ./images/team/valentine-2x.jpg 2x" />
          <source srcset="./images/team/valentine-1x.webp 1x, ./images/team/valentine-2x.webp 2x" />
          <img
            class="team__img"
            src="./images/team/valentine-2x.jpg"
            alt="Valentine Prokopenko"
            width="240"
          />
        </picture>
        <p class="team__title">Valentine Prokopenko</p>
        <p class="team__text">Developer</p>
      </li>
    </ul>
    <button class="modal-close" type="button" data-modal-close="team">
      <svg class="modal__icon--close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
