<div class="backdrop is-hidden" data-modal="team">
  <div class="team modal">
    <ul class="team__list">
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Yevhen Malyshko"
          width="240"
        />
        <p class="team__title">Yevhen Malyshko</p>
        <p class="team__text">Team Lead</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Hanna Vasylenko"
          width="240"
        />
        <p class="team__title">Hanna Vasylenko</p>
        <p class="team__text">Scrum Master</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Aleksandr Abramov"
          width="240"
        />
        <p class="team__title">Aleksandr Abramov</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Selim Fazylov"
          width="240"
        />
        <p class="team__title">Selim Fazylov</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Yevhen Bahtizin"
          width="240"
        />
        <p class="team__title">Yevhen Bahtizin</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Olena Patlata"
          width="240"
        />
        <p class="team__title">Olena Patlata</p>
        <p class="team__text">Developer</p>
      </li>
      <li class="team__card">
        <img
          class="team__img"
          src="./images/film_card/poster-img.jpg"
          alt="Stanislav Znova"
          width="240"
        />
        <p class="team__title">Stanislav Znova</p>
        <p class="team__text">Developer</p>
      </li>
    </ul>
    <button class="modal-close" type="button" data-modal-close="team">
      <svg class="modal__icon--close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
