.buttons__container {
  display: flex;
}
.buttons__container--header {
  position: absolute;
  justify-content: center;
  transition: opacity 250ms linear, visibility 250ms linear;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.btn--modal,
.btn--header {
  cursor: pointer;
  text-transform: uppercase;
  height: 44px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.btn--modal {
  width: 112px;
  @include mq(tablet) {
    width: 125px;
  }
  @include mq(desktop) {
    width: 136px;
  }
}
.btn--header:first-child {
  margin-right: 15px;
}

.btn--off {
  background-color: transparent;
  color: var(--main-text-cl-light);
  outline: none;
  border: 1px solid var(--main-text-cl-light);
  transition: border-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
  &:hover,
  &:focus {
    border-color: var(--accent-cl);
    color: var(--accent-cl);
    box-shadow: 0px 0px 15px 4px rgba(255, 107, 1, 0.5);
  }
}

.btn--header {
  color: var(--main-cl-light);
  border: 1px solid var(--main-cl-light);
  width: 130px;
  @include mq(desktop) {
    width: 136px;
  }
}

.btn--on {
  background-color: var(--accent-cl);
  color: var(--main-cl-light);
  border: none;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.4);
  transition: box-shadow 250ms linear;
  &:hover,
  &:focus {
    outline: none;
    color: var(--main-cl-light);
    box-shadow: 0px 0px 15px 4px rgba(255, 107, 1, 1);
  }
}
