.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--secondary-bg-cl);
}
.footer__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  @include mq(tablet) {
    gap: 4px;
  }
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  @include mq(tablet) {
    font-size: 16px;
  }
}
.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}
.footer__link {
  text-decoration: underline;
  cursor: pointer;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
    outline: none;
  }
}
