.gallery-section {
  padding-top: 20px;
  @include mq(tablet) {
    padding-top: 40px;
  }
}
.gallery-info {
  font-size: 2em;
  text-align: center;
}
.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  gap: 20px;

  @include mq(tablet) {
    gap: 30px;
  }
}

.gallery-categories {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  gap: 6px;
  @include mq(tablet) {
    margin-bottom: 40px;
    gap: 10px;
  }
  @include mq(desktop) {
    gap: 15px;
  }
  &__btn {
    cursor: pointer;
    width: 65px;
    min-height: 30px;
    padding: 0;
    background-color: var(--accent-cl);
    color: var(--main-cl);
    border-radius: 5px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    @include mq(tablet) {
      width: 135px;
      min-height: 35px;
      font-size: 140%;
    }
    @include mq(desktop) {
      width: 150px;
      min-height: 40px;
      font-size: 150%;
    }
    &.btn--off {
      color: var(--main-text-cl);
      border: 1px solid var(--main-text-cl);
    }
  }
  &.is-hidden {
    display: none;
  }
}

.card-item {
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 200ms cubic-bezier(0.12, 0.48, 0.93, 0.35) 450ms;
  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.08);
    box-shadow: var(--box-shadow-cl);
  }
}

.movie-card {
  padding: 10px 3px;
}
.container_movie-info {
  display: flex;
  flex-wrap: nowrap;
}

.movie-title {
  text-transform: uppercase;
  color: var(--main-text-cl);
  margin-bottom: 3px;
}

.movie-info {
  color: var(--accent-cl);
}

.movie-rating {
  display: inline-flex;
  justify-content: center;
  margin-left: 11px;
  padding: 1px 10px;
  border: none;
  border-radius: 5px;

  background-color: var(--accent-cl);
  color: var(--main-cl);
  width: 36px;
  height: 16px;
}

.movie-img {
  height: 398px;
  border: none;
  border-radius: 5px;
  @include mq(tablet) {
    width: 294px;
  }
  @include mq(desktop) {
    width: 274px;
  }
}
