//////////////////HEADER/////////////////////////////////
.header {
  height: 230px;
  padding-top: 40px;
  background-color: rgba(186, 185, 189, 0.56);
  background-size: cover;
  transition: background-image 250ms linear;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/images/header-overlay/header-overlay-sm.png');
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url('/images/header-overlay/header-overlay-sm.webp') 1x);

  @include retina() {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/images/header-overlay/header-overlay@2x-sm.png');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url('/images/header-overlay/header-overlay@2x-sm.webp') 2x);
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/images/header-overlay/header-overlay-md.png');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url('/images/header-overlay/header-overlay-md.webp') 1x);

    @include retina() {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/header-overlay/header-overlay@2x-md.png');
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        -webkit-image-set(url('/images/header-overlay/header-overlay@2x-md.webp') 2x);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/images/header-overlay/header-overlay-lg.png');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url('/images/header-overlay/header-overlay-lg.webp') 1x);

    @include retina() {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/header-overlay/header-overlay@2x-lg.png');
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        -webkit-image-set(url('/images/header-overlay/header-overlay@2x-lg.webp') 2x);
    }
  }
  &.myLib {
    background-image: url('/images/header-myLib/myLib-overlay-sm.png');
    background-image: -webkit-image-set(url('/images/header-myLib/myLib-overlay-sm.webp') 1x);

    @include retina() {
      background-image: url('/images/header-myLib/myLib-overlay@2x-sm.png');
      background-image: -webkit-image-set(url('/images/header-myLib/myLib-overlay@2x-sm.webp') 2x);
    }

    @include mq(tablet) {
      background-image: url('/images/header-myLib/myLib-overlay-md.png');
      background-image: -webkit-image-set(url('/images/header-myLib/myLib-overlay-md.webp') 1x);

      @include retina() {
        background-image: url('/images/header-myLib/myLib-overlay@2x-md.png');
        background-image: -webkit-image-set(
          url('/images/header-myLib/myLib-overlay@2x-md.webp') 2x
        );
      }
    }

    @include mq(desktop) {
      background-image: url('/images/header-myLib/myLib-overlay-lg.png');
      background-image: -webkit-image-set(url('/images/header-myLib/myLib-overlay-lg.webp') 1x);

      @include retina() {
        background-image: url('/images/header-myLib/myLib-overlay@2x-lg.png');
        background-image: -webkit-image-set(
          url('/images/header-myLib/myLib-overlay@2x-lg.webp') 2x
        );
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__logo-icon {
    margin-right: 10px;
    stroke: #818181;
    transition: color 250ms cubic-bezier(0.4, 0, 0.4, 1);
  }
  &__logo-title {
    color: var(--main-cl-light);
    display: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    transition: color 250ms cubic-bezier(0.4, 0, 0.4, 1);
    @include mq(tablet) {
      display: block;
    }
  }
  & .container {
    max-width: 440px;
    @include mq(tablet) {
      max-width: 648px;
    }
    @include mq(desktop) {
      max-width: 912px;
    }
  }
}

///////////////////THEME/////////////////////////////////////
.theme {
  @extend %btn;
}
.theme__svg {
  fill: currentColor;
}
.theme__choice {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms linear, visibility 250ms linear;
  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
.header-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
///////////////////FORM/////////////////////////////////////
.search {
  &__form {
    position: relative;
    display: flex;
    width: 280px;
    @include mq(tablet) {
      width: 336px;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__input {
    margin-top: 40px;
    width: 100%;
    font-size: 14px;
    color: var(--main-cl-light);
    outline: none;
    border: none;
    background-color: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      color: var(--main-cl-light);
    }

    //autocomplete
    &:-webkit-autofill {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--main-cl-light);
    }

    &:focus ~ .search__form-strip {
      background-color: var(--accent-cl);
    }
    &:hover ~ .search__form-strip {
      background-color: var(--accent-cl);
    }
  }
  &__btn {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 250ms linear;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__form-strip {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--main-cl-light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.4, 1);
    margin-top: 4px;
  }
}

///////////////////NAVIGATION//////////////////////////
.navigation {
  display: flex;
  &__link {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--main-cl-light);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.4, 1);
    &:hover,
    &:focus {
      color: var(--accent-cl);
    }
    &:first-child {
      margin-right: 40px;
    }
  }
}

.current {
  color: var(--accent-cl);
}
/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--accent-cl);
  height: 3px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* Icon Pulse Grow */
@-webkit-keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.hvr-icon-pulse-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pulse-grow:hover .hvr-icon,
.hvr-icon-pulse-grow:focus .hvr-icon,
.hvr-icon-pulse-grow:active .hvr-icon {
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.4, 1);
  & ~ .header__logo_title {
    color: var(--accent-cl);
  }
  & .header__logo_title {
    color: var(--accent-cl);
  }
  stroke: var(--accent-cl);

  -webkit-animation-name: hvr-icon-pulse-grow;
  animation-name: hvr-icon-pulse-grow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5is;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
