.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--backdrop-cl);
  opacity: 1;
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: scroll;
  &.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-cl);
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--accent-cl);
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-cl);
    background-color: var(--main-cl);
  }
}
