.btn-up {
  width: 50px;
  height: 100px;
  position: fixed;
  bottom: 55px;
  right: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-up__btn {
  @extend %btn;
  color: var(--logo-cl);
  transition: opacity 250ms linear, visibility 250ms linear, color 250ms linear;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.btn-up__svg {
  fill: currentColor;
}
